<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            background-color: #f1f1f1;
        }

        #regForm {
            background-color: #ffffff;
            margin: 100px auto;
            font-family: Raleway;
            padding: 40px;
            width: 70%;
            min-width: 300px;
            position: relative;
        }

        h1 {
            text-align: center;
        }

        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
            margin: 2px;
        }

        label {
            display: inline-flex;
            margin: 2px;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #f8b3b3;
        }

        textarea {
            display: block;
        }

        button {
            background-color: rgb(10, 39, 11);
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            font-family: Raleway;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            display: flex;
        }

        .consent {
            display: inline-flex;
            padding: 0;
        }

        .errorBlock {
            margin: 0 10px;
            position: absolute;
            top: 25%;
            z-index: 2;
            text-transform: capitalize;
        }

        .alert {
            background-color: #f4433648;
            color: black;
            margin: 10px 0 10px auto;
            width: 100%;
        }

        .closebtn {
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            display: table-cell;
        }

        .closebtn:hover {
            color: black;
        }
    </style>

</head>

<body>
    <!-- Navigation -->
    <%- include("partial/nav")%>

    <!-- Error message-->

    <div class="errorBlock">
    <% if(typeof(errors) != "undefined") {%>
    <%for (x in errors) {%>
        <div id="<%- x %>"class="alert">
            <strong> <%- errors[x] %> </strong>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
       
    <%}%>
        <%}%>

    </div>

    <div>
    <!-- Navigation -->
    <%- include("partial/regForm")%>
    
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>